<!--  -->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">DynoBlog</a>
    </div>
    <ul class="nav navbar-nav">
    <% if user_signed_in? %>
      <li> <%= link_to 'Log out', destroy_user_session_path, method: :delete %> </li>
      <li> <%=link_to 'Edit Registration', edit_user_registration_path %> </li>
      <li><%= link_to 'New Post', new_post_path %></li>
      <li><a href="/users/myposts">My Posts</a></li>
      <li><a href="/posts">Posts</a></li>
      <li> Logged in as <%= current_user.email %> </li>

      <% else %>
      <li> <%= link_to 'Sign Up', new_user_registration_path%></li>
      <li> <%= link_to 'Sign in', new_user_session_path%> </li>


    <% end %>
    </ul>
  </div>
</nav>







