<br>
<% @trainers.each do |trainer| %>
<a href="/trainers/<%= trainer.trainer_id %>"><%= trainer.first_name %></a>
<ul>
	<li><%= trainer.last_name%></li>
	<li><%= trainer.gender%></li>
	<li><%= trainer.course%></li>

</ul>
<% end %> 