<p id="notice"><%= notice %></p>

<h1>DynoTube</h1>

<table>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td> <h3> <%= video.title %> </h3></td>
      </tr>
      <tr>
        <td><%= video_tag(video.url) %></td>
      </tr>
      <tr>
        <td><%= video.description %></td>
      </tr>
        <td><%= link_to 'Show', video %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video', new_video_path %>
