<p id="notice"><%= notice %></p>

<h1>My Posts</h1>
<br>
<br>
<% @user.posts.each do |post|%>
 <h3> <%= post.title %></h3>
<p> <%= post.body %></p>
<a href="/users/myposts/<%= post.id%>">Show</a>
<td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>





