<form action="/trainers/<%= @trainer.trainer_id %>" method="POST">
<% if(@trainer.trainer_id != "") %>
<input type="hidden" name="_method" value="PUT">
 <% end %>
<label>Trainer First Name: </label>
<input type="text" name="first_name" placeholder="Enter first name" value="<%= @trainer.first_name%>">
<label>Trainer Last Name: </label>
<input type="text" name="last_name" placeholder="Enter last name" value="<%= @trainer.last_name%>">
<label>Trainer Gender: </label>
<input type="text" name="gender" placeholder="Enter gender" value="<%= @trainer.gender%>">
<label>Trainer Course: </label>
<input type="text" name="course" placeholder="Enter Course" value="<%= @trainer.course%>">
<input type="submit" value="Save">
</form>