<% @students.each do |student| %>
<h3><%= student.first_name %></h3>
<ul>
	<li><%= student.last_name%></li>
	<li><%= student.age%></li>
	<li><%= student.gender%></li>
	<li><%= student.email%></li>
	<li><%= student.num%></li>
</ul>
<% end %> 