<% @students.each do |student| %>
<a href="/<%= student.student_id %>"><%= student.first_name %></a>
<ul>
	<li><%= student.last_name%></li>
	<li><%= student.age%></li>
	<li><%= student.gender%></li>
	<li><%= student.email%></li>
	<li><%= student.num%></li>
</ul>
<% end %> 