<h3><%= @student.first_name %></h3>
<ul>
	<li><%= @student.last_name%></li>
	<li><%= @student.age%></li>
	<li><%= @student.gender%></li>
	<li><%= @student.email%></li>
	<li><%= @student.num%></li>
</ul>
<a href="/<%= @student.student_id %>/edit">edit</a>
<form action="/<%= @student.student_id %>" method="POST">
	<input type="hidden" name="_method" value="DELETE">
	<input type="submit" value="DELETE">
</form>
